.header {
    width: 100%;
    bottom: 0;
    height: 80px;
    display: block;
    margin: 0 auto;
    padding: 1cm;
    background-color: mediumseagreen;
}

#todays-table {
    margin: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: mediumseagreen;
    margin: 0 auto;
    padding: 1cm 0;
}

td {
    text-align: center;
}















